:root {
    --blue-gray-9: #676B7E;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;

    .animateSpin {
        animation: spin 1s linear infinite;
    }

    .fill-blue-grey-9 {
        fill: var(--blue-gray-9);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}